# Ignore .NET build output
obj
bin
/output
/artifacts

# Ignore personal settings store
*.sln.DotSettings.user
*.csproj.DotSettings.user

# Ignore IntelliJ-specific configuration files
.idea

# Also ignore Visual Studio configuraion files
.vs

# Ignore generated protocol files
**.Generated.cs

# Ignore path to Rider SDK and dotnet SDK
/NuGet.Config
/RiderSdkPackageVersion.props
/.dotnet

# Ignore NuGet packages
*.nupkg

# Ignore Nuke output
.tmp/
.gradle

# Ignore local properties
local.properties