# Ignore .NET build output
obj
bin
/output

# Ignore personal settings store
*.sln.DotSettings.user

# Ignore IntelliJ-specific configuration files
.idea

# Ignore generated protocol files
**.Generated.cs

# Ignore path to Rider SDK
/NuGet.Config
/RiderSdkPackageVersion.props