<#@ template language="C#" #>
<?xml version="1.0" encoding="utf-8" ?>
<package>
    <metadata>
<#@ include file="JetBrains.EnvDTE.Template.Metadata.ttinclude" #>
    </metadata>
<#@ include file="JetBrains.EnvDTE.Template.Files.ttinclude" #>
</package><#+
    const string NamePrefix = @"net472\JetBrains.";
    const string NameSuffix = ".Host";
#>